#contact-section {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #0b0b0b;

  /* Efeito de luz suave (Soft light effect) */
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
    circle at 60% 0.5%,
    #5C748166 10%,
    rgba(20, 16, 16, 0.924) 30%,
    #0b0b0b 100%
    );
    opacity: 1;
z-index: 0;

  }

  /* Garantir que o conteúdo fique acima do brilho */
  > * {
    position: relative;
    z-index: 1;
  }
}
