@import "tailwindcss";

@font-face {
  font-family: "Gotham";
  src: url("/src/assets/fonts/gothamlight.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-background: #101010;
  
  --color-text-primary: #FFFFFF;
  --color-accent: #5C7481;
  --color-text-dark: #000000;

  --color-card: #5D5D5D;

  --color-button-contact: #D9D9D9;



  --font-gotham: "Gotham", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}


html,
body {
  @apply font-[var(--font-gotham)];
  font-weight: 300; 
}